.navbar{
    position: fixed;
    height: 80px;
    top: 0;
    background-color: transparent;
    width: 100%;
    padding-left: 50px;
    z-index: 1;
    font-size: 1.2rem;
}
.navbar-logo{
    height: 80px;
    line-height: 80px;
    color: white;
    cursor: pointer;
}
.scrolling{
    background-color: black;
    transition: all 0.5 ease-in;
}